<table>
  <tbody>
    <tr>
      <th scope="row">Time</th>
      <td>9</td>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th scope="row">Strength</th>
      <td>14</td>
      <td>15</td>
      <td>16</td>
    </tr>
    <tr>
      <th scope="row">Direction</th>
      <td>240</td>
      <td>235</td>
      <td>230</td>
    </tr>
  </tbody>
</table>

