<div class="container-fluid wrapper">
  <div class="row">
    <h1 class="text-center">List of all spots</h1>
  </div>
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-6">
      <% @spots.each do |spot| %>
        <div class="col-xs-12 col-sm-12">
          <div class="spot-card" style="background-image: url('<%= image_path "background.jpg" %>')">
            <div class="spot-infos">
              <h2><%= link_to spot.name, spot_path(spot) %></h2>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="wrapper_maps">
        <div id="map" style="width: 100%; height: 100vh;"></div>

        <% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).ready(function() {
              var handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function() {
                markers = handler.addMarkers(<%= raw @hash.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                if (markers.length == 0) {
                  handler.getMap().setZoom(2);
                } else if (markers.length == 1) {
                  handler.getMap().setZoom(14);
                }
              });
            });
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

