<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>Salut Les Amis</h1>
      <p>you're on spot n# <%= @spot.id %></p>
      <br>
      <br>
      <br>
      <%= link_to "Create a comment, Julie :D", new_spot_review_path %>
    </div>
  </div>
</div>
