/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Muli|Oswald:300,400,700');
$base-font: "muli", "sans-serif";
$header-font: "muli", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme

$red: #EE5F5B;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;

$blue:  #0682FE ;
$dark_blue: #084A83;
$light_blue: #C6E5F3;
$gray_bg: #E8F1F5;

$brand-color: $blue;
