#home-container {
  padding: 0px;
}

#titre {
  width: 100%;
}

.banner {
  color: white;
  // text-align: center;
  height: calc(100vh - 115px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // position: relative;
}

#banner-content {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  h2 {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    width: 600px;
  }
  h4 {
    margin-bottom: 100px;
  }
}

