.pages-home {
  background: $blue;
  // background: -webkit-linear-gradient(to left, #00c6ff , $blue);
  // background: linear-gradient(to left, #00c6ff , $blue);
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  #full-navbar {
    display: none;
  }
}

.main-title-section {
  width: 100vw;
  margin: 30px 0 0 150px;

  color: #fff;
  #main-title {
    font-size: 75px;
    font-family: Oswald;
    font-weight: bolder;
  }
  #sub-title {
    font-size: 30px;
    font-weight: lighter;
  }
}

.lets-go {
  width: 100vw;
}

.box-bottom-right {
  width: 100vw;
  margin: 0 45px 20px 0;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#title-bottom {
  flex: 0 0 25%;
  color: #fff;
  font-weight: lighter;
  font-size: 25px;
  font-family: Oswald;
  margin: 0;
}

.svg-icon-wind {
  width: 7vw;
  height: 7vw;
  min-width: 8rem;
  min-height: 8rem;
  max-width: 24rem;
  max-height: 24rem;
}

<<<<<<< HEAD
.wing-sizes-selector{
  width: 400px;
  height: 150px;
  display: flex;
  color: #fff;
}



.small-wing{
  height: 70px;
  width: 70px;
  position: relative;
}

.wing-sizes-selector > p {
  position: absolute;
  top: 100px;
  text-align: center;
}

.wing-selected{
  border: solid white 5px;
}
=======
.bg  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1000;
}

.path {
  animation: draw 2s forwards;
}

.path-delay {
  animation: draw 3s 1s forwards;
}

.path-delay--2 {
  animation: draw 3s 1.5s forwards;
}

.path-delay--3 {
  animation: draw 3s 2s forwards;
}

.path-delay--4 {
  animation: draw 3s 2.5s forwards;
}

.clouds {
  animation: draw 3s forwards, clouds 9.5s 3s forwards;
}

.wind {
  animation: draw 3s forwards, wind 10s 2.5s forwards;
}

 @keyframes draw {
  from{}

  to {
    stroke-dashoffset: 0;
  }
}

 @keyframes clouds {
  from{}

  to {
    transform: translate(30px,0);
  }
}

 @keyframes wind {
  from{}

  to {
    transform: translate(35px,0);
  }
}


>>>>>>> master

 // ******************************* HOME PAGE V1 *******************************

// #home-container {
//   padding: 0px;
// }

// #titre {
//   width: 100%;
// }

// .banner {
//   color: white;
//   // text-align: center;
//   height: calc(100vh - 115px);
//   /* if you have a 70px navbar => height: calc(100vh - 70px); */
//   background-size: cover !important;
//   // display: flex;
//   // align-items: center;
//   // justify-content: center;
//   // position: relative;
// }

// #banner-content {
//   margin-top: 200px;
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
//   h2 {
//     font-size: 50px;
//     font-weight: bold;
//     text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
//     margin-bottom: 30px;
//     width: 700px;
//     letter-spacing: 10px;
//   }
//   h4 {
//     margin-bottom: 100px;
//   }
// }

// #best-kitesurf{
//   font-weight: bolder;
//   color: $dark_blue;
// }

// .thinner {
//   font-weight: lighter;
// }


