#home-container {
  padding: 0px;
}

#titre {
  width: 100%;
}

.banner {
  color: white;
  // text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // position: relative;
}
.banner h2 {
  // position: absolute;
  // top: 100px;
  // left: 100px;
  // width: 30%;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

#banner-content {
  margin-top: 100px;
}

#search-form {
  padding: 0px;
  margin-top: 20px;
}

#home-links {
  margin-top: 200px;
}

#home-links a {
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  display: block;
  margin: 20px auto;
  max-width: 180px;
  text-decoration: none;
  border-radius: 4px;
  padding: 20px 30px;
  cursor: pointer;
  font-weight: bolder;
  opacity: 1;
}

#home-links a.home-link {
  background: white;
  opacity: 0.5;
  color: rgba(30, 22, 54, 0.6);
  box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

#home-links a.home-link:hover {
  color: rgba(255, 255, 255, 0.85);
  opacity: 1;
  box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}
