body{
  color: #616668;
}

.banner-show{
  height: 45vh;
  position: relative;
}

.bg-white{
  background-color: white;
}

.results {
  margin-left: 15px;
  h2 {
    margin-bottom: 22px;
  }
}

.spot-show-card h1 {
  position: relative;
}

.spot-show-card {
  text-align: left;
  padding: 15px 0px;
  margin-top: 10px;
  position: relative;
}

.spot-rating{
  margin-bottom: 11px;
}

#spot-show-h1-title{
 color: $dark_blue;
 margin-top: 0px;
 margin-left: 200px;
 padding-top: 50px;
}

#add-feedback-btn{
  // margin: 0 auto;
  margin-top: 20px;
}

.add-feedback-btn-div{
  margin-top: 50px;
}

#tide-container{
  padding-right: 5px;
}

#add-to-favorite-btn{
  position: absolute;
  right: 50px;
  top: 50px;
}

#review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-button {
  border: 0px;
}

.spot-rating{
  // position: absolute;
  // top: 0px;
  // right: 100px;

}

.spot-rating i.fa-star{
  font-size: 20px;
}
.spot-rating i.fa-star-o{
  font-size: 20px;
}

.yellow-filled{
  color: #F1C40F;
}
.not-filled{
  color: grey;
}

#forecast-data {
    width: 100%;
    background-color: #CAE0F3;
    padding: 15px;
    border-radius: 5px;
}

#forecast-data table {
    width: 100%;
    background-color: #CAE0F3;
    padding: 15px;
    border-radius: 5px;
}

#forecast-data td {
  text-align: center;
}

#forecast-data th {
  text-align: left;
  border-right: 2px solid black;
}

#forecast-data th :first-of-type {
  border-radius: 5px;
}

#forecast-data div {
  margin-left: 8px;
  margin-top: 3px;
  justify-content: center;
  width: 25px;
}

.time-infos {
  opacity: 0.5;
}

.tabs {
  position: absolute;
  bottom: 0px;
  left: 200px;
  width: auto;
  background: transparent;
  display: flex;
}

.tabs a {
  color: white;
  text-decoration: none;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}

.tab {
  flex: 0 0 25%;
  text-align: center;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  p {
    margin: 0px;
  }
}

#tab_weather {
  border-bottom: 5px solid #FF8000;
}

#tab_infos {
  border-bottom: 5px solid #004080;
}

#tab_reviews {
  border-bottom: 5px solid #008000;
}

.tab.active {
  background-color: #4C4C4C;
  opacity: 0.8;
  color: white;
}

.tab:hover{
  background: white;
  opacity: 0.8;
  color: black;
}

.tab.active a {
  opacity: 1;
}

.content.hidden {
  display: none;
}

.control-label-display-block{
  display: block;
}

.wing-size-feedback-slider-left-margin{
  margin-left: 10px;
}

#add-feedback-modal-button{
  display: block;
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 20px;
}

#wing_size_rating{
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 25px;
}

#experience_rating{
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 25px;
}


#picker-with-cardinals{
  width: 150px;
  height: 150px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin: 0 auto;
}
#picker{
  width: 120px;
  height: 120px;
  margin: 0 auto;
  position: absolute;
  top: 15px;
  left: 15px;
}

p#N{
  position: absolute;
  top: -10px;
  right: 70px;
}
p#S{
  position: absolute;
  top: 140px;
  right: 70px;
}

p#E{
  position: absolute;
  top: 65px;
  right: -4px;
}

p#W{
  position: absolute;
  top: 65px;
  right: 140px;
}

p#current_value_degrees{
  position: absolute;
  right: -80px;
  top: 65px;
}

.label-where-wind{
  margin-bottom: 15px;
}

.review {
  margin-bottom: 15px;
  border-bottom: 1px solid $blue;
}
