body{
  color: #616668;
  font-family: 'Josefin Sans', sans-serif;
}

.banner-show{
  height: 45vh;
}

.bg-white{
  background-color: white;
}

.spot-show-card h1 {
  font-family: 'Raleway', sans-serif;
  position: relative;
}

.spot-show-card {
  text-align: left;
  padding: 15px 30px;
  // border-radius: 5px;
  // box-shadow: 2px 2px #AAAAAA;
  // background-color: white;

  margin-top: 10px;
  position: relative;
}

.spot-show-card h2 {
  font-size: 25px;
  color: $dark_blue;
}

#spot-show-h1-title{
 color: $dark_blue;
}

#feedbacks-container{
  padding-left: 5px;
}

#tide-container{
  padding-right: 5px;
}

#add-to-favorite-btn{
  position: absolute;
  right: 10px;
  top: 2px;
}

#review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#comment-button {
  float: right;
}

#spot-rating{
  position: absolute;
  top: 0px;
  right: 100px;

}

#spot-rating i.fa-star{
  font-size: 20px;
}
#spot-rating i.fa-star-o{
  font-size: 20px;
}

.yellow-filled{
  color: #F1C40F;
}
.not-filled{
  color: grey;
}
