<div id="first">
  <label for="slider1">Wing size</label>
  <input type="range" id="sliderOne" name="slider1" min=6 max=17 value=0>
  <div class="score" id="ratingOne">0</div>
  <button type= "submit" class="kite-std-btn">Choose</button>
</div>
