
<div class="wing-sizes-selector">
  <% [6, 8, 10, 13, 15].each do |wing_size| %>
    <div class="small-wing">
      <svg xmlns:x="http://ns.adobe.com/Extensibility/1.0/" xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/" xmlns:graph="http://ns.adobe.com/Graphs/1.0/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve"><switch><foreignObject requiredExtensions="http://ns.adobe.com/AdobeIllustrator/10.0/" x="0" y="0" width="1" height="1"/><g i:extraneous="self"><g><g><path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M39.9,68.4c-6.9-24,6.1-46.2,26.6-63.2      C41.7,21.8,25.7,31.3,39.9,68.4L39.9,68.4z M80.1,93.9c-31.3,0.8-50-15-59.2-43.3C9.9,90.7,63.9,99.2,80.1,93.9L80.1,93.9z       M44.4,81c-14-14.3-15.1-35.2-8-57C11.8,40.4,26.2,66.4,44.4,81L44.4,81z"/></g></g></g></switch></svg>
      <p class="text-center"><span><%= wing_size %></span> m2</p>
    </div>
  <% end %>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      console.log('toto is good');
      $('.small-wing').on('click', function(event) {
        $(this).toggleClass('wing-selected');
        update_form_selected_wing_sizes();
      });

    });

    function update_form_selected_wing_sizes() {
      //$('.wing-selected').forEach(function(toto) {
      //  console.log(toto);
      //});
      var selected_wing_sizes = "";
      $( ".wing-selected p span" ).each(function( index ) {
        //console.log( index + ": " + $( this ).text() );
        selected_wing_sizes = selected_wing_sizes + $(this).text() + ",";
      });
      selected_wing_sizes = selected_wing_sizes.slice(0,-1); //remove last coma

      console.log($('.wing-sizes-form'));
      $('#selected-wing-sizes').attr('value', selected_wing_sizes);
    }

  <% end %>
<% end %>
