
<div class="wing-sizes-selector_index">
  <% [6, 8, 10, 13, 15].each do |wing_size| %>
    <div class="small-wing">
<svg width="60px" height="70px" viewBox="0 0 452 432" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="kitesurf" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-1.000000, 9.000000)">
        <g id="Group" fill="#FFFFFF">
            <path d="M451.053,262.48 C442.839,138.617 352.091,52.841 309.461,19.066 C297.719,9.771 275.485,2.016 260.529,1.327 C184.058,-2.153 137.469,9.389 112.378,19.228 C98.436,24.707 100.626,30.56 115.371,33.199 C142.337,38.037 187.482,54.332 241.376,106.122 C268.237,131.941 292,165.582 311.794,199.08 L311.794,337.325 C308.983,338.989 307.013,341.915 307.013,345.425 L307.013,400.294 C307.013,406.969 301.582,412.409 294.908,412.409 L95.166,412.409 C88.491,412.409 83.05,406.978 83.05,400.294 L83.05,345.425 C83.05,341.925 81.08,338.989 78.269,337.325 L78.269,269.967 L68.707,269.967 L68.707,337.325 C65.895,338.989 63.926,341.915 63.926,345.425 L63.926,400.294 C63.926,417.516 77.935,431.534 95.167,431.534 L294.918,431.534 C312.14,431.534 326.148,417.515 326.148,400.294 L326.148,345.425 C326.148,341.925 324.178,338.989 321.367,337.325 L321.367,215.805 C341.621,252.285 356.949,287.007 366.11,309.383 C371.771,323.259 388.218,334.255 402.524,329.799 C456.81,312.913 451.053,262.48 451.053,262.48 Z" id="Shape"></path>
            <path d="M36.232,262.776 C49.982,268.227 76.165,275.753 94.305,262.824 C98.847,259.592 101.726,251.34 102.022,245.784 C103.676,215.193 111.431,122.141 145.98,61.266 C145.98,61.266 81.022,20.405 32.435,88.481 C-12.26,151.106 -2.746,217.67 20.635,250.775 C23.887,255.327 31.059,260.701 36.232,262.776 Z" id="Shape"></path>
        </g>
    </g>
</svg>
      <p class="text-center"><span><%= wing_size %></span> m2</p>
    </div>
  <% end %>
</div>

<style>
  .wing_size_index {
    margin: auto;
  }
</style>



<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      console.log('toto is good');
      $('.small-wing').on('click', function(event) {
        $(this).toggleClass('wing-selected');
        update_form_selected_wing_sizes();
      });

    });

    function update_form_selected_wing_sizes() {
      //$('.wing-selected').forEach(function(toto) {
      //  console.log(toto);
      //});
      var selected_wing_sizes = "";
      $( ".wing-selected p span" ).each(function( index ) {
        //console.log( index + ": " + $( this ).text() );
        selected_wing_sizes = selected_wing_sizes + $(this).text() + ",";
      });
      selected_wing_sizes = selected_wing_sizes.slice(0,-1); //remove last coma

      console.log($('.wing-sizes-form'));
      $('#selected-wing-sizes').attr('value', selected_wing_sizes);
    }

  <% end %>
<% end %>
