<div class="container-fluid" id="home-container">
  <div class="row">
    <div class="col-xs-12">
      <div class="banner" style="background-image: linear-gradient(to left, rgba(215, 210, 204, 0.3), rgba(48, 67, 82, 0.4)), url('<%= image_url "background.jpg" %>');">
        <div class="row" id="titre">
          <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-1"> -->
            <div id="banner-content">
              <div class="text-center", id="home-text">
                <h2>
                  Discover Kitepirinha experience
                </h2>
                <h4><span class="thinner">Find all the</span> <span id="best-kitesurf">best kitesurf spots</span> <span class="thinner">around you</span></h4>

                  <%= link_to "BEGINNER", spots_path(level: "beginner"), class: "kite-home-btn" %>
                  <%= link_to "CONFIRMED", spots_path(level: "confirmed"), class: "kite-home-btn" %>
              </div>

            </div>
          <!-- </div> -->
        </div>

      </div>
    </div>
  </div>
</div>
