<div class="main-title-section">
  <h1 id="main-title">Just go kite-surfing.</h1>
  <h3 id="sub-title">Choose the right spot wherever you go</h3>
</div>

<div class="lets-go flex-center">
  <%= link_to "Let's start !", spots_path, class:"btn kite-home-btn" %>
</div>

<!-- CATCHPHRASE -->
  <div class="box-bottom-right text-center">
    <h3 id="title-bottom">All the info you need in one place</h3>
    <div class="icon-wind">
      <%= render "wind_button" %>
      <!-- SEA -->

      <div class="home_sea">
        <%= render "home_sea" %>
      </div>

    </div>
  </div>
