#full-navbar{
  padding: 0;
  background: $blue_home;
  color: #fff;
  height: 80px;
}

#navbar-top {
  position: relative;
  transition: all 0.3s ease;
}

.svg-logo-wind {
  width: 5.5rem;
  height: 5.5rem;
  min-width: 5.5rem;
  min-height: 5.5rem;
  max-width: 24rem;
  max-height: 24rem;
  cursor: pointer;

  position: absolute;
  top: calc(calc(80px - 5.5rem)/2);
  left: 35px;
}


.navbar-right {
  position: absolute;
  right: 35px;
  letter-spacing: 0.7px;
  font-weight: lighter;
  height: 80px;
}

.navbar-link {
  color: #fff;
  border-bottom: 3px solid transparent;

  &:hover{
    text-decoration: none;
    color: #fff;
    border-bottom: 3px solid #fff;
  }
}

/* Navbar logo */
.navbar-brand {
  padding-top: 0px;
  img {
  width: 50px;
  }
}

/* Navbar right section (with form, links, button) */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar item */
.navbar-item {
  cursor: pointer;
  margin: 0 20px;
}
