<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <div id="picker"></div>
      <%= simple_form_for ([@spot, @weather_feedback]) do |f| %>
        <%= f.input :direction %>
        <%= f.input :strength %>
        <!-- f.input :wing_size
        f.input :rating -->
        <%= f.submit "Add a weather feedback", class: "kite-std-btn" %>
      <% end %>
    </div>
  </div>
</div>
