// **************************** WHOLE BOX ****************************

#search-box-index {
  padding: 0px;
}

#search-bar-index {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
}

// **************************** SEARCH ****************************

.search-bar-index-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 99%;
}

#search-form {
  flex: 0 1 47.5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-left: 5px;
}

.form-inline .form-control {
  width: 100%;
  padding-left: 0;
  border: none;
  box-shadow: none;
  border-bottom: 2px solid $blue_home;
}


.form-control {
  height: 43px;
  padding: 10px 15px;

  font-family: roboto;
  font-size: 16px;
  font-weight: lighter;
  background-color: #fff;
  &:focus{
    border: none;
    border-bottom: 2px solid $blue_home;
  }
}

// **************************** WING ****************************

.wing_index{
  display: flex;
  justify-content: space-between;
  align-item:center;
  position: absolute;
  right: 25px;
}

.wing-size-message {
  font-weight: lighter;
  margin-right: 15px;
}

// **************************** BUTTON ****************************

#search-index-btn{
  position: absolute;
  right: 0;
  padding: 10px 0px;

  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 2px;
  font-weight: bolder;

  font-family: roboto;
  font-weight: lighter;
  font-size: 14px;
  color: #616668;
  text-decoration: none;

  &:hover{
    color: $blue_home;
    background-color: transparent;
    transition: all 0.3s ease;
    text-decoration: none;
    font-family: roboto;
  }
}

#wing-index-btn {
  padding: 0;
  margin-right: 10px;

  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 2px;
  font-weight: bolder;

  font-family: roboto;
  font-weight: lighter;
  font-size: 14px;
  color: #616668;
  text-decoration: none;
  border-bottom: 1px solid $blue_home;

  &:hover{
    color: $blue_home;
    background-color: transparent;
    transition: all 0.3s ease;
    text-decoration: none;
    font-family: roboto;
  }
}

.kite-index-btn {

  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 2px;
  font-weight: bolder;

  font-family: roboto;
  font-weight: lighter;
  font-size: 14px;
  color: #616668;
  text-decoration: none;

  &:hover{
    color: $blue_home;
    background-color: transparent;
    transition: all 0.3s ease;
    text-decoration: none;
    font-family: roboto;
  }
}
