
input[type="radio"] {
  display: none;
}

.classification label {
  color: grey;
  font-size:40px;
}

.classification {
  direction: rtl;
  unicode-bidi: bidi-override;
  text-align: left;
}

.classification label:hover,
.classification label:hover ~ label {
  color: orange;
}

.classification input[type="radio"]:checked ~ label {
  color: orange;
}
