<div class="review">
  <div class="spot-rating">
    <% review.rating.times do %>
      <i class="fa fa-star yellow-filled"></i>
    <% end %>
    <% (5 - review.rating).times do %>
      <i class="fa fa-star-o"></i>
    <% end %>
  </div>
  <h8><%= review.content %></h8>

  <p style="margin-bottom: 5px">Added by <%= review.user.first_name || review.user.email %> - <%= time_ago_in_words(review[:created_at])%> ago</p>
</div>
