<h2 class="title-surrounding"></h2>
<div class="spot-rating">
  <% review.rating.times do %>
    <i class="fa fa-star yellow-filled"></i>
  <% end %>
  <% (5 - review.rating).times do %>
    <i class="fa fa-star-o"></i>
  <% end %>
</div>
<p><%= review.content %></p>

<p class="review-created-at">Added by <%= review.user.first_name || review.user.email %> - <%= review[:created_at].strftime('%H:%M - %A, %b %d') %></p>
